<h3>Create / Edit a Series of Instructions</h3>
<br>
<c8y-action-bar-item [itemClass]="'btn-link'" [placement]="'right'">
  <div class="display:flex; flex-direction: row;">
  <button class="btn btn-link" (click)="openSimulatorUploadFileDialog()">
    <i class="fa fw fa-upload"></i>&nbsp; {{ 'Import' | translate }} <br> Simulator
  </button>
</div>
</c8y-action-bar-item>
<c8y-action-bar-item [itemClass]="'btn-link'" [placement]="'right'">
  <div class="display:flex; flex-direction: row;">
    <a [href]="importUrl" [download]="'simulator-import_'+mo.id+'.json'">
  <button class="btn btn-link" (click)="downloadSimulator()">
    <i c8yIcon="file-text"></i>&nbsp; {{ 'Export'| translate }} <br> Simulator
  </button>
</a>
</div>
</c8y-action-bar-item>
<div class="card" [style.background]="selectedColor">
  <div class="card-header separator">
    <ng-container *ngTemplateOutlet="header; context: templateCtx"></ng-container>
    <select class="form-control select-config" [(ngModel)]="selectedConfig" (ngModelChange)="onChangeConfig($event)">
      <option value="" disabled selected>Select Instruction Type</option>
      <option *ngFor="let first of defaultConfig">{{ first }}</option>
    </select>
    <select class="form-control select-config" [(ngModel)]="smartRestSelectedConfig" *ngIf="isSmartRestSelected">
      <option [ngValue]="!smartRestSelectedConfig" disabled>Select your Smart-Rest-Template</option>
      <option *ngFor="let first of smartRestConfig" [ngValue]="first">
        {{first.smartRestFields.msgId}}&nbsp;{{first.smartRestFields.name }}
      </option>
    </select>
  </div>
    <!-- <br>
    <br> -->
    
    <div *ngIf="isExpanded">
      <div class="card-block">
      <!--
      <ng-container  *ngIf="false">
        <label class="c8y-switch">
          <input type="checkbox"  [ngModel]="isSmartRestSelected" (ngModelChange)="isSmartRestSelected=!isSmartRestSelected"/>
          <span></span><em> Select from SmartREST Templates </em>
        </label>
        <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-md">
                <div class="c8y-select-wrapper" *ngIf="!isSmartRestSelected">
                  <br />
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    -->

      <!-- Add all series except type SmartRest -->
      <div [ngSwitch]="selectedConfig" *ngIf="!isSmartRestSelected">
        <ng-template
          *ngFor="let form of allForms; let i = index"
          [ngSwitchCase]="defaultConfig[i]"> 

          <div class="row">
            <ng-container *ngFor="let entry of form">
              
              <div [class]="'col-xs-'+ (12 / form.length | number: '1.0-0')"  *ngIf="!entry.hidden && !(entry.type === 'switch')">
                <div class="form-group">
                  <label class="text-truncate" [title]="entry.label">{{ entry.label }}</label>
                  <div
                    class="form-group form-group-md"
                    *ngIf="entry.type === 'select'"
                  >
                    <div class="c8y-select-wrapper">
                      <select
                        class="form-control"
                        [(ngModel)]="instructionValue[entry.name]"
                      >
                        <option
                          *ngFor="let category of entry.options"
                          [value]="category.id"
                        >
                          {{ category.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <input
                    *ngIf="entry.type === 'textField'"
                    id="{{ entry.name }}"
                    (focus)="onSelectFocus(entry.name)"
                    (blur)="onSelectBlur()"
                    class="form-control"
                    [(ngModel)]="instructionValue[entry.name]"
                    placeholder="{{ entry.placeholder }}"
                  />
                  <!-- Custom validation for type number -->
                  <em  class="custom-validation" *ngIf="instructionValue[entry.name] && entry.isNumber && !(instructionValue[entry.name] | isNumber)">
                    <i c8yIcon="exclamation-circle validation-icon"></i>&nbsp;&nbsp;
                    <div> Please enter a number </div></em>
                 <!-- ----------------------------------- -->

                    <!-- Custom validation of type required -->
                    <em  class="custom-validation" *ngIf="selected.selected && selected.entryName === entry.name && !instructionValue[entry.name]">
                      <i c8yIcon="exclamation-circle validation-icon"></i>&nbsp;&nbsp;
                      <div> Required </div></em>
                 <!-- ------------------------------------ -->
                </div>
              </div>
            </ng-container>
            <div class="col-xs-12">
              <button
                class="btn {{ selectedSeries ? 'btn-default' : 'btn-success' }}"
                (click)="updateSeries(i)"
                style="float: right"
              >
                {{ selectedSeries ? "Update" : "Add" }} {{ defaultConfig[i] }}
              </button>
              <button
                class="btn btn-primary"
                (click)="clearSeries()"
                style="float: right; margin-right: 12px"
              >
                Reset/Clear
              </button>
              <select
                class="form-control"
                style="max-width: 200px; margin-right: 20px; float: right"
                [(ngModel)]="selectedColor" (update)="updateSeriesColor()">
                <option disabled value="#fff">
                  Select Color
                </option>

                <option
                  *ngFor="let entry of reducedColors"
                  [style.background]="entry">
                  {{ entry }}
                </option>
              </select>
              <ng-container *ngIf="selectedConfig === 'Measurement'">
              <select
                class="form-control"
                style="max-width: 200px; margin-right: 20px; float: right"
                [(ngModel)]="measurementOption">
                <option disabled value="linear">
                  Select Scaling Option
                </option>

                <option
                  *ngFor="let entry of measurementOptions">
                  {{ entry }}
                </option>
              </select>
            </ng-container>
            </div>
          </div>
        </ng-template>
      </div>


      <!-- Add Series of type SmartRest -->
      <ng-container *ngIf="isSmartRestSelected">
      <br>
      <ng-container *ngIf="smartRestSelectedConfig && smartRestSelectedConfig.smartRestFields">
        <ng-container *ngIf="smartRestSelectedConfig.smartRestFields.customValues.length > 5">
          <h3>Bulk Changes</h3>
          <div class="row smartrest-bulk">
            <div class="col-xs-6">
              <label for="{{ 'id_for_all.minimum' }}" class="text-truncate" [title]="'for_all.minimum'">{{ 'Minimum for all values' }}</label>
              <input id="{{ 'id_for_all.minimum' }}" [(ngModel)]="smartRestAllValues['minimum']" (change)="changeAllSmartRestValues()" class="form-control"
                placeholder="minimum" />
              </div>
              <div class="col-xs-6">
                <label for="{{ 'id_for_all.maximum' }}" class="text-truncate" [title]="'for_all.maximum'">{{ 'Maximum for all values' }}</label>
                <input id="{{ 'id_for_all.maximum' }}" [(ngModel)]="smartRestAllValues['maximum']" (change)="changeAllSmartRestValues()" class="form-control"
                  placeholder="maximum" />
              </div>
              <div class="col-xs-6">
                <label for="{{ 'id_for_all.minIncrement' }}" class="text-truncate" [title]="'for_all.minIncrement'">{{ 'Increment all Minimum values' }}</label>
                <input id="{{ 'id_for_all.minIncrement' }}" [(ngModel)]="smartRestAllValues['minIncrement']" (change)="changeAllSmartRestValues()" class="form-control"
                  placeholder="Increment" />
              </div>
              <div class="col-xs-6">
                <label for="{{ 'id_for_all.maxIncrement' }}" class="text-truncate" [title]="'for_all.maxIncrement'">{{ 'Increment all Maximum values' }}</label>
                <input id="{{ 'id_for_all.maxIncrement' }}" [(ngModel)]="smartRestAllValues['maxIncrement']" (change)="changeAllSmartRestValues()" class="form-control"
                  placeholder="Increment" />
              </div>
              <div class="col-xs-6">
                <label for="{{ 'id_for_all.unit' }}" class="text-truncate" [title]="'for_all.unit'">{{ 'Unit for all values' }}</label>
                <input id="{{ 'id_for_all.unit' }}" [(ngModel)]="smartRestAllValues['unit']" (change)="changeAllSmartRestValues()" class="form-control"
                  placeholder="unit" />
              </div>
            </div>
        </ng-container>
        <div *ngFor="let entry of smartRestSelectedConfig.smartRestFields.customValues">
          <ng-container *ngIf="entry.value === null">
          <div [hidden]="entry | isValue"> 
            <label for="{{id + entry.path }}" class="text-truncate" [title]="entry.path">{{ entry.path }}</label>
            <input
              id="{{id + entry.path }}"
              [required]="true"
              [(ngModel)]="smartRestInstruction[entry.path]"
              class="form-control"
            />
          </div>
          <ng-container *ngIf="entry | isValue">
            <div class="row">
              <div class="col-xs-6">
                <label class="text-truncate" for="{{ id + entry.path + '_min'}}" [title]="entry.path+'.minimum'">{{ entry.path +'.minimum'}}</label>
                <input
                  id="{{ id + entry.path + '_min'}}"
                  [(ngModel)]="smartRestInstruction[entry.path+'_min']"
                  class="form-control"
                  placeholder="minimum"
                />
                <!-- custom validation for type number -->
                <em  class="custom-validation" *ngIf="smartRestInstruction[entry.path+'_min'] && !(smartRestInstruction[entry.path+'_min'] | isNumber)">
                  <i c8yIcon="exclamation-circle validation-icon"></i>&nbsp;&nbsp;
                  <div> Please enter a number </div></em>
                  <!-- ------------------------------- -->
              </div>
              <div class="col-xs-6">
                <label class="text-truncate" for="{{ id + entry.path + '_max'}}" [title]="entry.path+'.maximum'">{{ entry.path +'.maximum'}}</label>
                <input
                  id="{{ id + entry.path + '_max'}}"
                  [(ngModel)]="smartRestInstruction[entry.path+'_max']"
                  class="form-control"
                  placeholder="maximum"
                />
                  <!-- custom validation for type number -->
                  <em  class="custom-validation" *ngIf="smartRestInstruction[entry.path+'_max'] && !(smartRestInstruction[entry.path+'_max'] | isNumber)">
                    <i c8yIcon="exclamation-circle validation-icon"></i>&nbsp;&nbsp;
                    <div> Please enter a number </div></em>
                    <!-- -------------------------------- -->
              </div>
            </div>
          </ng-container>
          </ng-container>
         
        </div>
        <ng-container *ngIf="smartRestSelectedConfig && smartRestSelectedConfig != ''">
        <label for="{{ id + 'steps' }}" class="text-truncate" [title]="'steps'">{{ 'steps'}}</label>
        <input
        id="{{ id + 'steps' }}"
        [required]="true"
        [(ngModel)]="smartRestInstruction['steps']"
        class="form-control"
      />
      <!-- custom validation for type number -->
      <em  class="custom-validation" *ngIf="smartRestInstruction['steps'] && !(smartRestInstruction['steps'] | isNumber)">
        <i c8yIcon="exclamation-circle validation-icon"></i>&nbsp;&nbsp;
        <div> Please enter a number </div></em>
        <!-- ------------------------------ -->
    </ng-container>
        <br>
        <button
                class="btn btn-success"
                (click)="saveSmartRestTemplateToCommandQueue()"
                style="float: right"
              >
                Add SmartRest
              </button>
              <button
                class="btn btn-default"
                (click)="clearSeries()"
                style="float: right; margin-right: 20px;"
              >
                Reset/Clear
              </button>
              <select
                class="form-control smartrest-select"
                [(ngModel)]="smartRestOption">
                <option disabled value="linear">
                  Select SmartRest Option
                </option>

                <option
                  *ngFor="let entry of measurementOptions">
                  {{ entry }}
                </option>
              </select>
      </ng-container>
    </ng-container>
    </div>
  </div>
</div>
