<div class="row">
  <div class="col-sm-3">
    <div class="form-group form-group-md">
      <div class="c8y-select-wrapper">
        <select class="form-control" [ngModel]="selectedEventConfig" (ngModelChange)="onChangeOfEventConfig($event)">
          <option *ngFor="let item of eventConfig">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
  </div>
  
  <div class="col-sm-3">
    <div class="form-group form-group-md">
      <div class="c8y-select-wrapper">
        <select class="form-control" [ngModel]="selectedEventCategory" (ngModelChange)="onChangeEvent($event)">
          <option *ngFor="let item of eventCategories">
            {{ item.category }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-xs-6" *ngIf="selectedEventCategory === eventCategories[0].category">
    <div class="form-group">
      <input name="minimum" class="form-control" placeholder="Event Type" [(ngModel)]="eventType" />
    </div>
  </div>

  <div class="col-sm-3 col-xs-6" *ngIf="selectedEventCategory === eventCategories[0].category">
    <div class="form-group">
      <input name="minimum" class="form-control" placeholder="Event Text" [(ngModel)]="eventText" />
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <input name="minimum" class="form-control" placeholder="Event Steps" [(ngModel)]="eventSteps" />
    </div>
  </div>
  <br />

  <ng-container *ngIf="selectedEventCategory !== eventCategories[0].category">
    <br />
    <br />
    <div class="col-sm-3 col-xs-6">
      <div class="form-group">
        <input name="minimum" class="form-control" placeholder="Latitude" [(ngModel)]="geoCoordinate.latitude" />
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="form-group">
        <input name="minimum" class="form-control" placeholder="Longitude" [(ngModel)]="geoCoordinate.longitude" />
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="form-group">
        <input name="minimum" class="form-control" placeholder="Altitude" [(ngModel)]="geoCoordinate.altitude" />
      </div>
    </div>

    <div class="col-sm-3 col-xs-6">
      <div class="form-group">
        <input name="minimum" class="form-control" placeholder="Accuracy" [(ngModel)]="geoCoordinate.accuracy" />
      </div>
    </div>
    <br />
    <br />
  </ng-container>
  <div class="col-sm-12">
    <button type="button" class="btn btn-default" (click)="addEventToArray()" style="float: right">
      <i c8yIcon="plus-circle"></i>&nbsp; Add Event
    </button>
  </div>
</div>