<h3>Calculations:</h3>
<div class="row">
  
  <div class="col-xs-3">
    <b>Time needed for one loop:</b>&nbsp;<span>{{timeForOneLoop}}s</span><br>
    <b>Possible runthroughs per minute:</b>&nbsp;<span>{{runThrougsPerMinute}}</span><br>
    <b>Possible runthroughs per hour:</b>&nbsp;<span>{{runThrougsPerHour}}</span><br>
    <b>Possible runthroughs per day:</b>&nbsp;<span>{{runThrougsPerDay}}</span><br>
  </div>

  <div class="col-xs-3">
    <b>Time needed for one loop:</b>&nbsp;<span>{{timeForOneLoop}}s</span><br>
    <b>Possible runthroughs per minute:</b>&nbsp;<span>{{runThrougsPerMinute}}</span><br>
    <b>Possible runthroughs per hour:</b>&nbsp;<span>{{runThrougsPerHour}}</span><br>
    <b>Possible runthroughs per day:</b>&nbsp;<span>{{runThrougsPerDay}}</span><br>
  </div>

  <div class="col-xs-6">
    
  </div>

</div>

