
	body{
		width:100%;
		height:100%;
		margin:0px;
		padding:0px;
	}
		*{
		font-family:calibri;
		}
		section{
			position:relative;
			width:100%;
			background:#eee;
			margin-bottom:20px;
			text-align:center;
			padding:20px 0px 30px 0px;
		}
		.content{
			position:relative;
			padding:60px 0px 40px 0px;
			width:100%;
			max-width:1000px;
			min-height:200px;
			margin:0px auto;
		}
		section * {
		 vertical-align:top;
		}
		textarea:hover, input:hover, select:hover{
			border-color:steelblue;
		}
		input, textarea, select {
			font-size:15px;
			box-shadow:3px 3px 2px #ccc;
			padding:8px 8px 8px 20px;
			margin-bottom:10px;
			border-style:solid;
			border-color:#eee;
			border-width:2px;
		}
		button{
			padding:8px 8px 8px 8px;
			min-width:200px;
			box-shadow:3px 3px 2px #ccc;
			font-size:15px;
			cursor:pointer;
			background:#6bb3ee;
			border-style:solid;
			font-weight:bold;
			border-width:2px;
			border-color:#eee;
		}
		button:hover{
			opacity:.8;
		}
		h1{
			font-size:250%;
			margin:0px;
		}
    .test-canvas{
      max-width:400px;
      display:inline-block !important;
      text-align: center;
      vertical-align: top;
      max-height:300px;
    }