.fa-minus-circle:before {
  position: relative;
  top: 35%;
  margin-left: 2px;
}

.delete:hover {
  transform: scale(1.3);
}
.delete {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  color:#333;
  float:right;
  transition: .1s all;
}

.empty-command-queue{
  text-align: center;
  font-size: 1.2em;
  margin-top: 70px;
}

.drag-item {
  cursor: move;
}