<!-- {{resultTemplate.commandQueue | json }} -->
<ng-container *ngFor="let item of commandQueue; let i; of: commandQueue.length" [style.background]="item.color">
  <div style="display: flex" (mouseenter)="showBtns=true" (mouseleave)="showBtns=false">
    <button type="button" class="list-group-item" style="display: inline-block" (click)="updateCurrentValue(item)">
      <i *ngIf="item.type === 'builtin'" class="fa fw fa-arrow-right"></i><span
        *ngIf="item.type === 'builtin' && item.messageId === '200'">&nbsp;Custom measurement
        &nbsp;<em>{{item.messageId}}</em>&nbsp;
        <ng-container *ngFor="let value of item.values">{{ value }}&nbsp;</ng-container>
      </span>
      <span
        *ngIf="item.type === 'builtin' && (item.messageId === '301' || item.messageId === '302' || item.messageId === '303')">&nbsp;Custom
        alarm &nbsp;<em>{{item.messageId}}</em>&nbsp;
        <ng-container *ngFor="let value of item.values">{{ value }}&nbsp;</ng-container>
      </span>
      <span
        *ngIf="item.type === 'builtin' && (item.messageId === '400' || item.messageId === '401' || item.messageId === '402')">&nbsp;Custom
        event &nbsp;<em>{{item.messageId}}</em>&nbsp;
        <ng-container *ngFor="let value of item.values">{{ value }}&nbsp;</ng-container>
      </span>
      <i *ngIf="item.type === 'sleep'" class="fa fw fa-clock-o"></i><span *ngIf="item.type === 'sleep'">&nbsp;Sleep
        &nbsp;{{ item.seconds }} seconds
      </span></button><button class="delete" *ngIf="showBtns"><i c8y-icon="minus-circle"
        class="text-danger fa fw fa-minus-circle" (click)="deleteMeasurementOrSleep(item)"></i></button>
  </div>
  <app-edit-instruction *ngIf="item === editedValue" [displayEditView]="true" [mo]="mo" [commandQueue]="commandQueue" [editedValue]="editedValue"></app-edit-instruction>
</ng-container>
<app-edit-instruction *ngIf="!editedValue" [mo]="mo" [commandQueue]="commandQueue"></app-edit-instruction>