<c8y-title translate>Helpful Links for {{name}}!</c8y-title>
<input [(ngModel)]="info" placeholder="Kai ..." />
<button (click)="btnClicked(name)">Help!</button>
<br>
<br><a c8y-guide-href="link1" class="ng-scope" href={{link1}} target="_blank">{{link1}}</a>
<br><a c8y-guide-href="link2" class="ng-scope" href={{link2}} target="_blank">{{link2}}</a>
<br><a c8y-guide-href="link3" class="ng-scope" href={{link3}} target="_blank">{{link3}}</a>
<br><a c8y-guide-href="link4" class="ng-scope" href={{link4}} target="_blank">{{link4}}</a>
<br><a c8y-guide-href="link5" class="ng-scope" href={{link5}} target="_blank">{{link5}}</a>
<br><a c8y-guide-href="link6" class="ng-scope" href={{link6}} target="_blank">{{link6}}</a>
