<c8y-title>Simulators</c8y-title>

<c8y-action-bar-item>
  <div class="dropdown" dropdown *ngIf="allSimulators && allSimulators.length > 1">
    <button type="button" title="dropdown-toggle" dropdownToggle class="btn btn-default dropdown-toggle c8y-dropdown">
      <span><i c8yIcon="{{(listClass == 'interact-list') ? 'align-justify' : 'th-large'}}"></i> {{(listClass == 'interact-list') ? 'List Layout' : 'Grid Layout'}}</span> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" *dropdownMenu>
      <li>
        <button type="button" (click)="onListTypeChange('interact-list')">
          <i c8yIcon="align-justify"></i> List Layout
        </button>
      </li>
      <li>
        <button type="button" (click)="onListTypeChange('interact-grid')">
          <i c8yIcon="th-large"></i> Grid Layout
        </button>
      </li>
    </ul>
  </div>
</c8y-action-bar-item>
<c8y-action-bar-item [placement]="'right'">
  <a routerLink="/bulk-simulators">
  <i c8yIcon="plus"></i>&nbsp;
  Create bulk simulators </a> 
</c8y-action-bar-item>

<div class="card-group" [ngClass]="listClass">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
  <a
    class="card add-card clickable"
    (click)="openAddNewSimulatorDialog()"
    ><i c8yicon="plus-square" class="fa fw fa-plus-square"></i><br />
    Add Simulator
  </a>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 page-sticky-header card" style="margin-top: 5px; margin-bottom: 5px;">
  <ng-container *ngIf="listClass==='interact-list'">
    <br>
      <div class="card-header card-column-40"><strong>Simulator</strong></div>
      <div class="card-block card-column-30"><strong>Status</strong></div>
      <div class="card-footer card-column-30"><strong>Instructions</strong></div>
  </ng-container>
</div>
  <ng-container *ngFor="let simulator of allSimulators">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card custom-card">
        <div class="card-actions">
          <div class="dropdown settings" dropdown>
            <button
              type="button"
              title="Actions"
              dropdownToggle
              class="dropdown-toggle c8y-dropdown"
            >
              <i c8yIcon="ellipsis-v" class="fa fw fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <li>
                <button type="button" (click)="editSimulator(simulator)">
                  <i c8yIcon="edit"></i> Edit Simulator
                </button>
              </li>
              <li>
                <button type="button" (click)="onDuplicateSelected(simulator)">
                  <i c8yIcon="copy"></i> Create copy of simulator
                </button>
              </li>
              <li>
                <button type="button" (click)="onDeleteSelected(simulator)">
                  <i c8yIcon="trash"></i> Remove from list
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div
          class="card-header separator card-column-40"
        >
        <div class="card-icon">
          <i c8y-icon="c8y-simulator c8y-icon-duocolor" class="c8y-icon c8y-icon-simulator c8y-icon-duocolor"></i>
        </div>
          <div class="card-title">
            <!-- <h4 class="c8y-icon-duocolor c8y-icon-simulator c8y-icon"> -->
              &nbsp;{{ simulator.c8y_DeviceSimulator?.name }}
          </div>
          
        </div>
        <div class="card-block card-column-30">
          <!-- <div style="display: flex; justify-content: space-between"> -->
            <label class="c8y-switch">
              <input
                type="checkbox"
                [ngModel]="simulator.c8y_DeviceSimulator.state === 'RUNNING'"
                (ngModelChange)="onStateChange(simulator)"
              />
              <span></span
              ><em> {{ simulator.c8y_DeviceSimulator.state | lowercase }}</em>
            </label>
        </div>
        <div class="card-footer separator card-column-30">
            <div triggers="hover"
            [popover] = "popStats"
            placement="auto"
            #pop="bs-popover">
              <ng-container *ngFor="let item of instructionTypes">
                &nbsp;&nbsp;<i
                  [c8yIcon]="item.category.icon"
                  style="color: #b0b9bf"
                ></i
                >&nbsp;
                {{
                  (simulator.c8y_DeviceSimulator.commandQueue
                    | instructionType)[item.category.type]
                    ? (simulator.c8y_DeviceSimulator.commandQueue
                        | instructionType)[item.category.type]
                    : "0"
                }}<ng-container *ngIf="item.category.break"
                  ><br
                /></ng-container>
              </ng-container>
              
            <!-- </div> -->
          </div>
        </div>
      </div>
    </div>
  


<ng-template #popStats>
  <em>Total Instructions: {{simulator.c8y_DeviceSimulator.commandQueue.length}}</em>
  <table class="table table-striped">
    
    <thead>
      <tr>
        <th>Category</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of instructionTypes">
        <td><i [c8yIcon]="item.category.icon" style="color: #b0b9bf"></i>&nbsp;<span>{{item.category.type}}</span></td>
        <td>{{(simulator.c8y_DeviceSimulator.commandQueue | instructionType)[item.category.type]}}</td>
      </tr>

    </tbody>
  </table>
</ng-template>

</ng-container>
</div>