<div>

  <canvas
  baseChart
  height="120"
  [datasets]="lineChartData"
  [options]="lineChartOptions"
  [colors]="lineChartColors"
  [chartType]="lineChartType"
  ></canvas>
  <button type="button" (click)="toggleAlarms();" *ngIf="alarmLines.length" class="btn btn-danger">{{this.showAlarms ? 'Hide' : 'Show'}} Alarms</button>
  <button type="button" (click)="toggleEvents();" *ngIf="eventLines.length" class="btn btn-warning">{{this.showEvents ? 'Hide' : 'Show'}} Events</button>
  <button type="button" (click)="toggleSleeps();" *ngIf="sleepLines.length" class="btn btn-default">{{this.showSleeps ? 'Hide' : 'Show'}} Sleep</button>

</div>