<div class="modal-dialog modal-sm">
  <div class="modal-content" style="z-index: 9999;position: absolute;" uib-modal-transclude="">
    <div class="modal-header">
      <h3>
        <i c8y-icon="file-code-o" class="dlt-icon-file-code-o"></i>
        <span translate="">Upload CSV</span>
      </h3>
    </div>
    <div class="modal-body">
      <ng-container [ngSwitch]="step">


        <ng-template [ngSwitchCase]="1">
          <input type="file" id="upload" (change)="prepareFileStream($event)">
          <input type="textfield" [(ngModel)]="delimiter" plcaholder="; , % ." id="delimiter" (change)="changeDelimiter($event)">
        </ng-template>


        <ng-template [ngSwitchCase]="2">
          <label for="instructionType">Choose Instruction Type</label>
          <select id="instructionType" class="form-control select-config" [(ngModel)]="choosenInstructionCategory">
            <option value="" disabled selected>Select Instruction Type</option>
            <option *ngFor="let first of instructionCategories">{{ first }}</option>
          </select>

          <label for="smartrestTemplate" *ngIf="choosenInstructionCategory === smartRestCategory">Choose Smartrest Template</label>
          <select id="smartrestTemplate" class="form-control select-config" (change)="categoryChange($event)" [(ngModel)]="smartRestSelectedConfig" *ngIf="choosenInstructionCategory === smartRestCategory">
            <option [ngValue]="!smartRestSelectedConfig" disabled>Select your Smart-Rest-Template</option>
            <option *ngFor="let first of smartRestConfig" [ngValue]="first">
              {{first.smartRestFields.msgId}}&nbsp;{{first.smartRestFields.name }}
            </option>
          </select>
        </ng-template>


        <ng-template [ngSwitchCase]="3">
          <strong>Notice: Non-mapped Values will be ignored</strong>
          <button class="btn btn-primary" style="width:100%;" (click)="autoMapping()">
            Auto Mapping
          </button>
          <div *ngFor="let entry of smartRestSelectedConfig.smartRestFields.customValues" >
            <span>{{entry.path}}:</span>
            <select >
              <option>Select Mapping</option>
              <option *ngFor="let csvProperty of dataProperties;let i = index" [selected]="entry['csvProperty'] === csvProperty" (click)="mapDataToSmartRest(entry, csvProperty, i)" >{{csvProperty}}</option>
            </select>
          </div>
        
          
        
        </ng-template>


      </ng-container>

    </div>
    <div class="modal-footer">
      <button class="btn btn-default" (click)="$ctrl.cancel(); this.importCSVView = false;" translate="">Cancel</button>
      <button class="btn btn-primary"  (click)="incrementStep()">
        <span *ngIf="step !== 3">Continue</span>
        <span *ngIf="step === 3">Start Import</span> 
      </button>
    </div>
  </div>
  <div uib-modal-backdrop="modal-backdrop" class="modal-backdrop fade in"
    ng-style="{'z-index': 1040 + (index &amp;&amp; 1 || 0) + index*10}" uib-modal-animation-class="fade"
    modal-in-class="in" modal-animation="true" data-bootstrap-modal-aria-hidden-count="1" aria-hidden="true"
    style="z-index: 1040;"></div>
</div>