<h3>{{ 'Work with a Single Instruction' | translate }}</h3>
<br />
<div
  class="alert alert-warning"
  *ngIf="warning && indexedCommandQueue.length"
  style="max-width: 100%; display: inline-block"
  role="alert"
>
  <strong>{{ warning.title }}</strong> {{ warning.message }}
</div>
<app-edit-instruction *ngIf="!editedValue" [mo]="mo" [indexedCommandQueue]="indexedCommandQueue"></app-edit-instruction>

<section style="height: calc(100% - 110px)">
  <div class="col-sm-12 empty-command-queue" style="text-align: center" *ngIf="!indexedCommandQueue.length">
    <div class="c8y-empty-state text-left">
      <h1 class="c8y-icon c8y-icon-data-points c8y-icon-duocolor"></h1>
      <p>
        <strong>{{ 'No Instruction found.' | translate }}</strong
        ><br />
        {{ 'Create your first Instruction or Series...' | translate }}
      </p>
    </div>
  </div>
  <div cdkDropList id="indexed" (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="let item of indexedCommandQueue; let i = index"
      [style.background]="item.color"
      cdkDrag
      [cdkDragData]="item"
    >
      <div class="custom-placeholder" *cdkDragPlaceholder></div>

      <button class="list-group-item" [style.background]="item.color" (click)="updateCurrentValue(item)">
        <ng-container *ngIf="item.type === 'sleep'">
          <i class="fa fw fa-clock-o drag-item"></i>
          <span>Sleep {{ item.seconds }} Seconds</span>
        </ng-container>

        <ng-container *ngIf="item.type === 'builtin' && item.messageId === '200'">
          <i class="fa fw fa-list drag-item"></i>
          <span>
            {{ 'Custom Measurement' | translate }} <em>{{ item.messageId }}</em>
            <ng-container *ngFor="let value of item.values">
              {{ value }}
            </ng-container>
          </span>
        </ng-container>

        <ng-container
          *ngIf="
            item.type === 'builtin' &&
            (item.messageId === '301' || item.messageId === '302' || item.messageId === '303')
          "
        >
          <i class="fa fw fa-bell drag-item"></i>
          <span>
            {{ 'Custom Alarm' | translate }}
            <em>{{ item.messageId }}</em>
            <ng-container *ngFor="let value of item.values">
              {{ value }}
            </ng-container>
          </span>
        </ng-container>

        <ng-container
          *ngIf="
            item.type === 'builtin' &&
            (item.messageId === '400' || item.messageId === '401' || item.messageId === '402')
          "
        >
          <i class="fa fw fa-tasks drag-item"></i>
          <span>
            {{ 'Custom Event' | translate }}
            <em>{{ item.messageId }}</em>
            <ng-container *ngFor="let value of item.values">
              {{ value }}
            </ng-container>
          </span>
        </ng-container>

        <ng-container *ngIf="item.type === 'message'">
          <i class="fa fw fa-sitemap drag-item"></i>
          <span>
            {{ 'SmartREST Template' | translate }}
            <em>{{ item.templateId }}</em> / <em>{{ item.messageId }}</em>
            <ng-container *ngFor="let value of item.values">
              {{ value }}
            </ng-container>
          </span>
        </ng-container>

        <button class="delete">
          <i class="fa fw fa-trash" (click)="deleteMeasurementOrSleep(item)"></i>
        </button>
      </button>
      <div>
        <app-edit-instruction
          *ngIf="item === editedValue"
          [displayEditView]="true"
          [edit]="editedValue"
          [mo]="mo"
          [indexedCommandQueue]="indexedCommandQueue"
          [editedValue]="editedValue"
        ></app-edit-instruction>
      </div>
    </div>
  </div>
</section>
