<ng-container *ngFor="let item of commandQueue; let i; of: commandQueue.length">
  <div style="display: flex" (mouseenter)="showBtns=true" (mouseleave)="showBtns=false">
    <button
      type="button"
      class="list-group-item"
      style="display: inline-block"
      (click)="updateCurrentValue(item)"
    >
      <i *ngIf="item.type === 'builtin'" class="fa fw fa-arrow-right"></i
      ><span *ngIf="item.type === 'builtin'"
        >&nbsp;Custom measurement
        <ng-container *ngFor="let value of item.values"
          >{{ value }}&nbsp;</ng-container
        >
      </span>
      <i *ngIf="item.type === 'sleep'" class="fa fw fa-clock-o"></i
      ><span *ngIf="item.type === 'sleep'"
        >&nbsp;Sleep &nbsp;{{ item.seconds }} seconds
      </span></button
    ><button class="delete" *ngIf="showBtns"><i
      c8y-icon="minus-circle"
      class="text-danger fa fw fa-minus-circle"
      (click)="deleteMeasurementOrSleep(item)"
    ></i></button>
    <button class="delete" *ngIf="showBtns"><i
      c8y-icon="plus-circle"
      class="text-success fa fw fa-plus-circle"
      (click)="addSleepOrMeasurement(item)"
    ></i></button>
  </div>
</ng-container>
