.scale-out-ver-top {
  overflow:hidden;
  animation-duration: .5s;
  animation-delay: 0s;
  animation-name: scale-out-ver-top;
  animation-fill-mode: forwards;
}

@keyframes scale-out-ver-top {
  0% {
    max-height:5000px;
  }
  100% {
    max-height:0px;
  }
}

.scale-in-ver-top {
  overflow:hidden;
  animation-delay: 0s;
  animation-duration: .5s;
  animation-name: scale-in-ver-top;
  animation-fill-mode: forwards;

}

@keyframes scale-in-ver-top {
  0%{
    max-height:0px;
  }
  100% {
    max-height:5000px;
  }
}

[hidden] {
  display: none !important;
}

.custom-validation {
  display: flex;
  width: 100%;
  padding-left: 0px;
  // justify-content: space-between;
}

.warning {
  box-shadow: 0px 3px 0px 0px #E0000E;
  // border: 1px solid;
}
