<br>
<div class="tight-grid">
  <div class="col-xs-4">
    <button title="Add instruction" class="btn-add-block" (click)="onAddInstruction()">
      <i c8y-icon="arrow-right" class="fa fw fa-arrow-right"></i> Add instructions
    </button>
  </div>
  <div class="col-xs-4">
    <button title="Add sleep" class="btn-add-block" (click)="onAddSleep()">
      <i c8y-icon="clock-o" class="fa fw fa-clock-o"></i> Add sleep
    </button>
  </div>
  <div class="col-xs-4">
    <button title="Add sleep" class="btn-add-block" (click)="onClearAllInstructions()">
      <i c8y-icon="clock-o" class="fa fw fa-clock-o"></i> Clear all Instructions
    </button>
  </div>
</div>

<section *ngIf="displayAddView||displayEditView">
  <div class="card">
    <div class="card-block">
      <div *ngIf="displayAddView">
        <h4>Add Instruction</h4>
        <br>
        <select class="form-control" [(ngModel)]="selectedEditView">
          <option *ngFor="let first of defaultConfig">{{ first }}</option>
        </select>
        <br>
      </div>
      <div *ngIf="displayEditView">
        <h4>Edit Instruction</h4>
      </div>
      <br>


      <div [ngSwitch]="selectedEditView">
        <ng-template *ngFor="let form of allForms; let i = index;" [ngSwitchCase]="defaultConfig[i]">
          <div class="row">
            <ng-container *ngFor="let entry of form">
                <div class="col-xs-6" *ngIf="!entry.hidden">
                <div class="form-group">
                  <label>{{ entry.label }}</label>
                  <div class="form-group form-group-md" *ngIf="entry.type === 'select'">
                    <div class="c8y-select-wrapper">
                      <select class="form-control" [(ngModel)]="instructionValue[entry.name]">
                        {{instructionValue[entry.name]}}
                        <option *ngFor="let option of entry.options" [selected]="instructionValue[entry.name] === option.id" [value]="option.id">
                          {{ option.name }}
                        </option>
                      </select>
                    </div>
                  </div>
                  <input *ngIf="entry.type === 'textField'" id="{{entry.name}}" [required]="entry.required" class="form-control" [(ngModel)]="instructionValue[entry.name]"
                  placeholder="{{entry.placeholder}} {{(entry.required) ? '(required)' : '(optional)'}}">
                </div>
              </div>
            </ng-container>
          </div>
          <div class="row" style="text-align:right;">
            <div class="col-xs-12">
              <button title="Add sleep" *ngIf="commandQueueEntryIndex && displayEditView" class="btn btn-default" (click)="onDuplicateInstruction()" style="display:inline-block;margin-right:5px;">
                <i class="fa fa-copy"></i> Duplicate {{defaultConfig[i]}}
              </button>

              <button class="btn btn-primary" style="display:inline-block" (click)="addOrUpdateInstruction(i)">
                {{(displayAddView) ? "Add" : "Update"}} {{defaultConfig[i]}}
              </button>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>

</section>
