<div class="card">
  <div class="card-block">
    <h4>Edit Instruction Or Sleep</h4>
    <br />

    <div [ngSwitch]="selectedEditView">
      <ng-template [ngSwitchCase]="'msmts'">
        <!-- Measurements -->
        <div class="row">
          <div class="col-sm-6 col-xs-6">
            <div class="form-group">
              <input
                id="fragment"
                class="form-control"
                placeholder="Fragment (required)"
                [ngModel]="editedValue.value.values[0]"
                (ngModelChange)="editFragment($event)"
              />
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group">
              <input
                name="series"
                class="form-control"
                placeholder="Series (required)"
                [ngModel]="editedValue.value.values[1]"
                (ngModelChange)="editSeries($event)"
              />
            </div>
          </div>
          <div class="col-sm-6 col-xs-6">
            <div class="form-group">
              <input
                name="minimum"
                class="form-control"
                placeholder="Value"
                [ngModel]="editedValue.value.values[2]"
                (ngModelChange)="editValue($event)"
              />
            </div>
          </div>
          <div>
            <div class="col-sm-6 col-xs-6">
              <div class="form-group">
                <input
                  name="maximum"
                  class="form-control"
                  placeholder="Unit (required)"
                  [ngModel]="editedValue.value.values[3]"
                  (ngModelChange)="editUnit($event)"
                />
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-primary" style="float: right" (click)="updateMsmt()">
              Update Measurements
            </button>
          </div>
        </div>
      </ng-template>

      <!-- Alarms -->
      <ng-template [ngSwitchCase]="'alarm'">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <input
              name="minimum"
              class="form-control"
              placeholder="Alarm Type"
              [ngModel]="editedVal.value.values[0]"
              (ngModelChange)="editAlarmType($event)"
            />
          </div>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <input
              name="minimum"
              class="form-control"
              placeholder="Alarm Text"
              [ngModel]="editedVal.value.values[1]"
              (ngModelChange)="editAlarmText($event)"
            />
          </div>
          <div class="col-sm-12">
            <button class="btn btn-default" style="float: right" (click)="updateAlarm()">
              <i c8yIcon="plus-circle"></i>&nbsp;Update Alarm
            </button>
          </div>
        </div>
      </ng-template>

      <!-- Events -->
      <ng-template [ngSwitchCase]="'basicevent'">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <input
              name="minimum"
              class="form-control"
              placeholder="Event Type"
              [ngModel]="editedVal.value.values[0]"
              (ngModelChange)="editEventType($event)"
            />
          </div>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <input
              name="minimum"
              class="form-control"
              placeholder="Event Text"
              [ngModel]="editedVal.value.values[1]"
              (ngModelChange)="editEventText($event)"
            />
          </div>
          <div class="col-sm-12">
            <button class="btn btn-default" style="float: right" (click)="updateBasicEvent()">
              <i c8yIcon="plus-circle"></i>&nbsp;Update Event
            </button>
          </div>
        </div>
      </ng-template>

      <ng-template [ngSwitchCase]="'event'">
        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <input
              name="minimum"
              class="form-control"
              placeholder="Event Type"
              [ngModel]="editedVal.value.values[0]"
              (ngModelChange)="editEventLatitude($event)"
            />
          </div>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <input
              name="minimum"
              class="form-control"
              placeholder="Event Type"
              [ngModel]="editedVal.value.values[1]"
              (ngModelChange)="editEventLongitude($event)"
            />
          </div>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <input
              name="minimum"
              class="form-control"
              placeholder="Event Type"
              [ngModel]="editedVal.value.values[2]"
              (ngModelChange)="editEventAltitude($event)"
            />
          </div>
        </div>

        <div class="col-sm-6 col-xs-6">
          <div class="form-group">
            <input
              name="minimum"
              class="form-control"
              placeholder="Event Text"
              [ngModel]="editedVal.value.values[3]"
              (ngModelChange)="editEventAccuracy($event)"
            />
          </div>
          <div class="col-sm-12">
            <button class="btn btn-default" style="float: right" (click)="updateBasicEvent()">
              <i c8yIcon="plus-circle"></i>&nbsp;Update Event
            </button>
          </div>
        </div>
      </ng-template>
      <ng-template [ngSwitchCase]="'sleep'"></ng-template>
    </div>
  </div>
</div>
