[hidden] {
  display: none !important;
}

.custom-validation {
  display: flex;
  width: 100%;
  padding-left: 0px;
  // justify-content: space-between;
}

.warning {
  box-shadow: 0px 3px 0px 0px #E0000E;
  // border: 1px solid;
}