.transparent {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
  }

  .stats {
    display: flex;
    flex-direction: column;
  }

  .header {
    display: flex;
    position: relative;
    top: 27%;
  }

  .common-header {
    margin: 3px;
  }



.series-header {
  margin-top: 20px;
  margin-bottom: 7.5px;
  // max-height: 45px;
}

.filter {
  max-width: 200px;
  float: right;
}