<c8y-title>
  <span *ngIf="!editMode">{{simulatorTitle}}</span>
  <input *ngIf="editMode" [(ngModel)]="simulatorTitle"  (focusout)="editSimulatorTitle()">&nbsp;&nbsp;
  <i c8yIcon="edit" style="font-size: small;" (click)="editMode=true"></i>
</c8y-title>
  <c8y-action-bar-item [placement]="'left'" [itemClass]="'btn'">
    <button class="transparent" style="font-size: 1.5em;" (click)="changeRouteLastSite()"><i c8yIcon="arrow-circle-left"></i></button>
    All Simulators
  </c8y-action-bar-item>
<div class="row main-div" style="resize: vertical;overflow: auto;height: 70vh;">
  
  <div class="col-lg-8" style="height:100%;">

    <div >
      <app-sim-settings
        [mo]="mo"
        [header]="addseries"
        [commandQueue]="commandQueue"
        [allInstructionsSeries]="allInstructionsSeries"
        [isExpanded]="true"
        [smartRestConfig]="smartRestConfig"
        (allSeriesEmitter)="updateAllSeries($event)"
      ></app-sim-settings>

      
      <div class="card page-sticky-header series-header" style="display: flex; justify-content: space-between;">
        <div style="display: flex; float: left;  padding: 5px; margin: 5px">
          <div class="header">
        <i c8yIcon="server" style="font-size: larger;"></i>
        &nbsp;&nbsp;<h4>Series</h4>
      </div> &nbsp;&nbsp;&nbsp;&nbsp;
      <div style="display: flex; flex-direction: column;" triggers="hover"
      popoverTitle="Statistics"
      [popover] = "popoverStats"
      placement="auto"
      #pop="bs-popover">
      <b>Statistics</b>
      <!-- <p>Total Instructions: {{allInstructionsSeries.length}}</p> -->
      <!-- <em>{{allInstructionsSeries && allInstructionsSeries[0].type ? allInstructionsSeries[0].type: ''}} ...</em> -->
    </div>
      <!-- <ng-container *ngTemplateOutlet="popoverStats"></ng-container> -->
      </div>
      
      <div class="filter common-header">
      <div id="filter" class="input-group input-group-search" style="padding: 5px" >
        <input
          type="search"
          class="form-control"
          placeholder="Filter…"
          [(ngModel)]="searchString"
          (keyup.enter)="filterAllInstructionsList(this)"
        />
        <span class="input-group-addon">
          <i c8yIcon="filter" *ngIf="!searchString || searchString.length === 0"></i>
          <i
            c8yIcon="times"
            class="text-muted"
            *ngIf="searchString && searchString.length > 0"
          ></i>
        </span>
      </div>
      </div>
    </div>
    <app-series-list [instructionsSeries]="filteredInstructionsSeries"></app-series-list>
  </div>

    <div *ngIf="false" class="col-sm-8">
      <br />
      <button
        class="btn btn-success"
        style="float: right; top: 0; z-index: 2; position: sticky"
      >
        Generate Instructions
      </button>
    </div>
  </div>

  <div class="col-lg-4" style="height:100%;">
    <app-show-instruction
      [mo]="mo"
      (getInvalidSimulator)="getCurrentSimulatorState($event)"
      (currentValue)="getCurrentValue($event)"
      (currentViewState)="updateViewState($event)"
    ></app-show-instruction>
  </div>
</div>


<div class="row" style="margin-top:40px;">
  <h3>Configure Simulator</h3>
  <div class="col-xs-4">
    <button title="Add sleep" class="btn-add-block" title="This duplicates all values but in reverse order" (click)="createSinusWave()">
      <i c8y-icon="clock-o" class="fa fw fa-clock-o"></i> Mirror Y Axis
    </button>
  </div>
  <div class="col-xs-4">
    <button title="Add sleep" class="btn-add-block" (click)="onClearAllInstructions()">
      <i c8y-icon="clock-o" class="fa fw fa-clock-o"></i> Open Device Management
    </button>
  </div>
  <div class="col-xs-4">
    <button title="Add sleep" class="btn-add-block" (click)="onClearAllInstructions()">
      <i c8y-icon="clock-o" class="fa fw fa-clock-o"></i> Start Simulator
    </button>
  </div>
</div>


<div class="row" style="margin-top:40px;" *ngIf="this.commandQueue.length && !this.invalidSimulator">
  <div class="col-xs-12">
  <h3>Dashboard / Simulation</h3>
  <br>
  <div class="card-group interact-grid">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" *ngFor="let entry of [1,3]">

      <div class="card">
        <!-- Card header containing the title, make sure you always add text-truncate -->
        <div class="card-header separator text-truncate">
          <div class="card-title" title="BeagleBone Black">
            {{ (entry === 1) ? 'Just one Cycle' : 'Multiple Runthroughs'}}
          </div>
        </div>

      <div class="card-block">
        <app-simulator-chart [numberOfRuns]="entry"></app-simulator-chart>
      </div>
      
      </div>
    </div>
  </div>
  </div>

</div>


<div class="row" style="margin:40px 0px 150px 0px;" *ngIf="this.commandQueue.length && !this.invalidSimulator">
  <div class="col-xs-12">
    <app-command-queue-statistics></app-command-queue-statistics>
  </div>
</div>


<app-warning-modal *ngIf="warningModal" modal="warningModal"></app-warning-modal>
<ng-template #addseries><h4><i c8yIcon="plus-circle" style="font-size: large; color: text-primary"></i>&nbsp;Create Series</h4></ng-template>
<ng-template #popoverStats>
  <p>Total Instructions: {{allInstructionsSeries.length}}</p>
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngIf="(allInstructionsSeries | count).alarms"><th><small>Alarms</small></th>&nbsp; <td><small>{{(allInstructionsSeries | count).alarms }}</small></td></tr>
    <tr *ngIf="(allInstructionsSeries | count).sleep"><th><small>Sleep</small></th>&nbsp; <td><small>{{(allInstructionsSeries | count).sleep }}</small></td></tr>
    <tr *ngIf="(allInstructionsSeries | count).events"><th><small>Events</small></th>&nbsp; <td><small>{{(allInstructionsSeries | count).events }}</small></td></tr>
    <tr *ngIf="(allInstructionsSeries | count).measurements"><th><small>Measurements</small></th>&nbsp; <td><small>{{(allInstructionsSeries | count).measurements }}</small></td></tr>
    <tr *ngIf="(allInstructionsSeries | count).smartRest"><th><small>Smart Rest</small></th>&nbsp; <td><small>{{(allInstructionsSeries | count).smartRest }}</small></td></tr>          
  </tbody> 
  </table>
</ng-template>