
<div class="col-lg-6">
  <app-simulator-details
  (currentCommandQueue)="updateCommandQueue($event)" (currentValue)="updateCurrent($event)"
  (insertSleepOrFragment)="insertSleepOrFragment($event)"></app-simulator-details>
  <br>
  <!-- {{resultTemplate.commandQueue | json }} -->
  <div class="tight-grid">
    <div class="col-xs-6">
      <button title="Add instruction" class="btn-add-block" (click)="onSelectInstructions()">
        <i c8y-icon="arrow-right" class="fa fw fa-arrow-right"></i> Add instruction
      </button>
    </div>
    <div class="col-xs-6">
      <button title="Add sleep" class="btn-add-block" (click)="onSelectSleep()">
        <i c8y-icon="clock-o" class="fa fw fa-clock-o"></i> Add sleep
      </button>
    </div>
  </div>
</div>

<div class="col-lg-6">
  <app-edit-instruction [editedVal]="editMsmt" [commandQueue]="commandQueue" [mo]="mo" *ngIf="displayEditView"></app-edit-instruction>
  <div class="card" *ngIf="displayInstructionsOrSleep && !displayEditView">
    <div class="card-block">
      <h4>Add Instructions</h4>
      <br>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-group-md">
            <div class="c8y-select-wrapper">
              <select
                class="form-control"
                [ngModel]="selectedConfig"
                (ngModelChange)="onChangeConfig($event)"
              >
                <option *ngFor="let first of defaultConfig">{{ first }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <br />

      <div [ngSwitch]="selectedConfig">
        <!-- Measurements -->
        <ng-template [ngSwitchCase]="'Measurements'">
         <app-sim-measurements></app-sim-measurements>
        </ng-template>

        <!-- Alarms -->
        <ng-template [ngSwitchCase]="'Alarms'">
          <app-sim-alarms (alarmEmitter)="addAlarmToArray($event)"></app-sim-alarms>
        </ng-template>

        <!-- Events -->
        <ng-template [ngSwitchCase]="'Events'">
          <app-sim-events></app-sim-events>
        </ng-template>

        <!-- Sleep -->
        <ng-template [ngSwitchCase]="'Sleep'">
          <app-sim-sleep></app-sim-sleep>
        </ng-template>

    
    
    <div class="col-sm-8">
      <br>
      <button class="btn btn-success" style="float: right" (click)="generateRequest();">
         Generate Instructions
      </button>
    </div>
  </div>
</div>
</div>


