<h3>Create / Edit a Series of Instructions</h3>
<br>
<div class="card" [style.background]="selectedColor">
  <div class="card-header separator">
    <ng-container *ngTemplateOutlet="header; context: templateCtx"></ng-container>
    <select  style="margin-top:-5px;margin-left:20px;max-width:200px;display:inline-block;" class="form-control" [(ngModel)]="selectedConfig" (ngModelChange)="onChangeConfig($event)">
      <option value="" disabled selected>Select Instruction Type</option>
      <option *ngFor="let first of defaultConfig">{{ first }}</option>
    </select>
    <select style="margin-top:-5px;margin-left:20px;max-width:200px;display:inline-block;" class="selectpicker" [(ngModel)]="smartRestSelectedConfig" *ngIf="isSmartRestSelected">
      <option [ngValue]="!smartRestSelectedConfig" disabled>Select your Smart-Rest-Template</option>
      <option *ngFor="let first of smartRestConfig" [ngValue]="first">
        {{first.smartRestFields.msgId}}&nbsp;{{first.smartRestFields.name }}
      </option>
    </select>
  </div>
    <!-- <br>
    <br> -->
    
    <div *ngIf="isExpanded">
      <div class="card-block">
      <!--
      <ng-container  *ngIf="false">
        <label class="c8y-switch">
          <input type="checkbox"  [ngModel]="isSmartRestSelected" (ngModelChange)="isSmartRestSelected=!isSmartRestSelected"/>
          <span></span><em> Select from SmartREST Templates </em>
        </label>
        <div class="row">
            <div class="col-md-12">
              <div class="form-group form-group-md">
                <div class="c8y-select-wrapper" *ngIf="!isSmartRestSelected">
                  <br />
                </div>
              </div>
            </div>
        </div>
      </ng-container>
    -->
      
      <div [ngSwitch]="selectedConfig" *ngIf="!isSmartRestSelected">
        <ng-template
          *ngFor="let form of allForms; let i = index"
          [ngSwitchCase]="defaultConfig[i]"> 

          <div class="row">
            <ng-container *ngFor="let entry of form">
              <div class="col-xs-12" *ngIf="entry.type === 'switch'">
                <label class="c8y-switch">
                  <input type="checkbox"  [ngModel]="randomize" (ngModelChange)="randomize=!randomize"/>
                  <span></span><em>{{entry.label}}</em>
                </label>
                <br>
              </div>
              
              <div [class]="'col-xs-'+ (12 / form.length | number: '1.0-0')"  *ngIf="!entry.hidden && !(entry.type === 'switch')">
                <div class="form-group">
                  <label>{{ entry.label }}</label>
                  <div
                    class="form-group form-group-md"
                    *ngIf="entry.type === 'select'"
                  >
                    <div class="c8y-select-wrapper">
                      <select
                        class="form-control"
                        [(ngModel)]="instructionValue[entry.name]"
                      >
                        <option
                          *ngFor="let category of entry.options"
                          [value]="category.id"
                        >
                          {{ category.name }}
                        </option>
                      </select>
                    </div>
                  </div>

                  <input
                    *ngIf="entry.type === 'textField'"
                    id="{{ entry.name }}"
                    [required]="entry.required"
                    class="form-control"
                    [(ngModel)]="instructionValue[entry.name]"
                    placeholder="{{ entry.placeholder }}"
                  />
                </div>
              </div>
            </ng-container>
            <div class="col-xs-12">
              <button
                class="btn {{ selectedSeries ? 'btn-default' : 'btn-success' }}"
                (click)="updateSeries(i)"
                style="float: right"
              >
                {{ selectedSeries ? "Update" : "Add" }} {{ defaultConfig[i] }}
              </button>
              <select
                class="form-control"
                style="max-width: 200px; margin-right: 20px; float: right"
                [(ngModel)]="selectedColor">
                <option disabled value="#fff">
                  Select Color
                </option>

                <option
                  *ngFor="let entry of reducedColors"
                  [style.background]="entry">
                  {{ entry }}
                </option>
              </select>
            </div>
          </div>
        </ng-template>
      </div>

      <ng-container *ngIf="isSmartRestSelected">
      <br>
      <ng-container *ngIf="smartRestSelectedConfig && smartRestSelectedConfig.smartRestFields">
        <div *ngFor="let entry of smartRestSelectedConfig.smartRestFields.customValues">
          <div [hidden]="entry | isValue"> 
            <label>{{ entry.path }}</label>
            <input
              id="{{id + entry.path }}"
              [required]="true"
              [(ngModel)]="smartRestInstruction[entry.path]"
              class="form-control"
            />
          </div>
          <ng-container *ngIf="entry | isValue">
            <div class="row">
              <div class="col-xs-6">
                <label>{{ entry.path +'.minimum'}}</label>
                <input
                id="{{ id + entry.path + '_min'}}"
                [required]="true"
                [(ngModel)]="smartRestInstruction[entry.path+'_min']"
                class="form-control"
                placeholder="minimum"
                />
              </div>
              <div class="col-xs-6">
                <label>{{ entry.path +'.maximum'}}</label>
                <input
                id="{{ id + entry.path + '_max'}}"
                [required]="true"
                [(ngModel)]="smartRestInstruction[entry.path+'_max']"
                  class="form-control"
                  placeholder="maximum"
                  />
              </div>
            </div>
          </ng-container>
         
        </div>
        <ng-container *ngIf="smartRestSelectedConfig && smartRestSelectedConfig != ''">
        <label>{{ 'steps'}}</label>
        <input
        id="{{ id + 'steps' }}"
        [required]="true"
        [(ngModel)]="smartRestInstruction['steps']"
        class="form-control"
      />
    </ng-container>
        <br>
        <button
                class="btn btn-success"
                (click)="saveSmartRestTemplateToCommandQueue()"
                style="float: right"
              >
                Save
              </button>
      </ng-container>
    </ng-container>
    </div>
  </div>
</div>
