<div class="card" [style.background]="selectedColor">
  <div class="card-block">
    <ng-container *ngTemplateOutlet="header; context: templateCtx">
    </ng-container>
    <br>
    
    <div *ngIf="isExpanded">
      <label class="c8y-switch">
        <input type="checkbox"  [ngModel]="isSmartRestSelected" (ngModelChange)="isSmartRestSelected=!isSmartRestSelected"/>
        <span></span><em> Select from SmartREST Templates </em>
      </label>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group form-group-md">
            <div class="c8y-select-wrapper" *ngIf="!isSmartRestSelected">
              <br />
              <select
                class="form-control"
                [(ngModel)]="selectedConfig"
                (ngModelChange)="onChangeConfig($event)"
              >
                <option *ngFor="let first of defaultConfig">{{ first }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      
      <div [ngSwitch]="selectedConfig" *ngIf="!isSmartRestSelected">
        <ng-template
          *ngFor="let form of allForms; let i = index"
          [ngSwitchCase]="defaultConfig[i]"
        > 
          <div class="row">
            <div class="col-xs-4" *ngFor="let entry of form">
              <div class="form-group">
                <label>{{ entry.label }}</label>
                <div
                  class="form-group form-group-md"
                  *ngIf="entry.type === 'select'"
                >
                  <div class="c8y-select-wrapper">
                    <select
                      class="form-control"
                      [(ngModel)]="instructionValue[entry.name]"
                    >
                      <option
                        *ngFor="let category of entry.options"
                        [value]="category.id"
                      >
                        {{ category.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <input
                  *ngIf="entry.type === 'textField'"
                  id="{{ entry.name }}"
                  [required]="entry.required"
                  class="form-control"
                  [(ngModel)]="instructionValue[entry.name]"
                  placeholder="{{ entry.placeholder }} {{
                    entry.required ? '(required)' : '(optional)'
                  }}"
                />
              </div>
            </div>
            <div class="col-xs-12">
              <button
                class="btn {{ selectedSeries ? 'btn-default' : 'btn-success' }}"
                (click)="updateSeries(defaultConfig[i])"
                style="float: right"
              >
                {{ selectedSeries ? "Update" : "Add" }} {{ defaultConfig[i] }}
              </button>
              <select
                class="form-control"
                style="max-width: 200px; margin-right: 20px; float: right"
                [(ngModel)]="selectedColor"
              >
                <option
                  *ngFor="let entry of reducedColors"
                  [style.background]="entry"
                >
                  {{ entry }}
                </option>
              </select>
            </div>
          </div>
        </ng-template>
      </div>

      <div *ngIf="isSmartRestSelected">
      <select class="selectpicker" [ngModel]="smartRestSelectedConfig" (ngModelChange)="onChangeConfig($event)">
        <option *ngFor="let first of smartRestConfig" [ngValue]="first" selected>{{first.smartRestFields.msgId}}&nbsp;{{ first.smartRestFields.name }}</option>
      </select>
      <br>
      <ng-container *ngIf="smartRestSelectedConfig">
        <div *ngFor="let entry of smartRestSelectedConfig.smartRestFields.customValues">
          <div [hidden]="entry | isValue" [attr.defaultValue]="smartRestInstruction[entry.path] || smartRestInstruction[entry.path] = ''"> 
            <label>{{ entry.path }}</label>
            <input
              id="{{ entry.path }}"
              [required]="true"
              [(ngModel)]="smartRestInstruction[entry.path]"
              class="form-control"
            />
          </div>
          <ng-container *ngIf="entry | isValue">
            <label>{{ entry.path +'.minimum'}}</label>
              <input
              id="{{ entry.path + '_min'}}"
              [required]="true"
              [(ngModel)]="smartRestInstruction[entry.path+'_min']"
              class="form-control"
              placeholder="minimum (required)"
            />
              <label>{{ entry.path +'.maximum'}}</label>
              <input
              id="{{ entry.path + '_max'}}"
              [required]="true"
              [(ngModel)]="smartRestInstruction[entry.path+'_max']"
              class="form-control"
              placeholder="maximum (required)"
            />
            <br>
          </ng-container>
         
        </div>
        <label>{{ 'steps'}}</label>
        <input
        id="{{ 'steps' }}"
        [required]="true"
        [(ngModel)]="smartRestInstruction['steps']"
        class="form-control"
        placeholder="(required)"
      />
        <br>
        <button
                class="btn btn-success"
                (click)="saveSmartRestTemplateToCommandQueue()"
                style="float: right"
              >
                Save
              </button>
      </ng-container>
    </div>
    </div>
  </div>
</div>
