<c8y-modal
  title="Create custom Simulator"
  (onClose)="saveSimulatorDetails($event)"
  (keyup.enter)="saveSimulatorDetails($event)"
  (onDismiss)="onDismiss($event)"
  [labels]="labels"
>
  <ng-form>
    <div class="inputs">
      <div class="form-group width-33">
        <label>{{ 'Enter custom simulator instance name *' | translate }}</label>
        <input class="form-control" [(ngModel)]="simulatorTitle" [ngModelOptions]="{ standalone: true }" />
      </div>
    </div>
  </ng-form>
</c8y-modal>
