<div class="row">
  <div class="col-sm-6">
    <div class="form-group form-group-md">
      <div class="c8y-select-wrapper">
        <select
          class="form-control"
          [ngModel]="selectedAlarmConfig"
          (ngModelChange)="onChangeOfAlarmConfig($event)"
        >
          <option *ngFor="let item of alarmConfig">
            {{ item }}
          </option>
        </select>
      </div>
    </div>
    <br />
  </div>
  <div class="col-sm-6">
    <div class="form-group form-group-md">
      <div class="c8y-select-wrapper">
        <select
          class="form-control"
          [ngModel]="selectedAlarmCategory"
          (ngModelChange)="onChangeOfAlarm($event)"
        >
          <option *ngFor="let item of alarmCategories">
            {{ item.category }}
          </option>
        </select>
      </div>
    </div>
  </div>

  
</div>
<div class="row">

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <input
        name="minimum"
        class="form-control"
        placeholder="Alarm Type"
        [(ngModel)]="alarmType"
      />
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <input
        name="minimum"
        class="form-control"
        placeholder="Alarm Text"
        [(ngModel)]="alarmText"
      />
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <input
        name="minimum"
        class="form-control"
        placeholder="Steps"
        [(ngModel)]="alarmSteps"
      />
    </div>
  </div>

  <div class="col-sm-3 col-xs-6">
    <div class="form-group">
      <input
        name="minimum"
        class="form-control"
        placeholder="Sleep"
        [(ngModel)]="alarmSleep"
      />
    </div>
  </div>
  <br />
  <div class="col-sm-12">
    <button
      type="button"
      class="btn btn-default"
      style="float: right"
      (click)="addAlarmToArray()"
    >
      <i c8yIcon="plus-circle"></i>&nbsp; Add Alarms
    </button>
  </div>
</div>
