<c8y-title>Simulators</c8y-title>
<c8y-action-bar-item [placement]="'right'">
  <button (click)="openAddNewSimulatorDialog()" class="btn btn-link"><i class="fa fw fa-plus-circle"></i>&nbsp;Add Simulator</button>
</c8y-action-bar-item>

<div class="card-group">
<ng-container *ngFor="let simulator of allSimulators">  
  <div>
  <div class="card custom-card" >
    <div class="card-header separator" style="justify-content: space-between; height: 56px"><div class="card-title">
      <h4 class="c8y-icon-duocolor c8y-icon-simulator c8y-icon">
      &nbsp;{{simulator.c8y_DeviceSimulator?.name}}</h4></div>
      <div class="dropdown settings" style="float: right;" dropdown >
        <button type="button" title="Actions" dropdownToggle class="dropdown-toggle c8y-dropdown">
          <i c8yIcon="ellipsis-v" class="fa fw fa-ellipsis-v"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" *dropdownMenu>
          <li>
            <button type="button" (click)="editSimulator(simulator)">
              <i c8yIcon="edit"></i> Edit Simulator
            </button>
          </li>
          <li>
            <button type="button" (click)="onDeleteSelected(simulator)">
              <i c8yIcon="trash"></i> Remove from list
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-block">
      <label class="c8y-switch">
        <input type="checkbox"  [ngModel]="simulator.c8y_DeviceSimulator.state==='RUNNING'" (ngModelChange)="onStateChange(simulator)"/>
        <span></span><em> {{simulator.c8y_DeviceSimulator.state | lowercase}}</em>
      </label>
    </div>
  </div>
</div>
</ng-container>
</div>