.list-item {
  margin-bottom: 3px;
  min-height: 55px;
  border-radius: 5px;
  cursor: move;
}

.copy-item {
  width: 30px;
  height: 30px;
  float: inline-end;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

.form-fields {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: nowrap;
}

.body {
  display: flex;
  margin: 12px 0;

  select {
    width: 100%;
  }

  &.smart-rest {
    flex-direction: column;

    .field {
      margin: 0;
    }

    .form-fields {
      margin-bottom: 20px;
      padding: 0 12px;
      max-width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 12px;
      justify-items: stretch;

      @media screen and (min-width: 1600px) {
        grid-template-columns: 1fr 1fr 1fr;
      }

      @media screen and (min-width: 2300px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}

.field {
  flex: 1 1 auto;
  margin: 0 12px;

  .form-group {
    margin-bottom: 0;
  }
}

.dropdown {
  flex: 0 0 auto;
  margin-right: -12px;
}

.button-update {
  flex: 0 0 auto;
  margin: 0 12px;
  align-self: flex-end;
}

.button-update[disabled] {
  background-color: #efefef;
  color: #ccc;
  border-color: #ccc;
}
