<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h3>Bulk changes</h3>
  <br />
</div>
<div
  class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
  [ngClass]="{ disabled: invalidSimulator }"
>
  <div class="card">
    <div class="card-header separator text-truncate">
      <div class="card-icon">
        <i class="fa fa-arrows-h"></i>
      </div>
      <div class="card-title" title="BeagleBone Black">
        Intertleave all Series
      </div>
    </div>
    <div class="card-block">
      Rather than having all Series after another this Alternates each Series<br />
      <label class="c8y-switch">
        <input
          type="checkbox"
          [ngModel]="intertwinedValues"
          [disabled]="(invalidSimulator || allInstructionsSeries.length < 2)"
          (click)="toggleIntertwineSeries()"
        />
        <span></span>
      </label>
      <p *ngIf="allInstructionsSeries.length < 2" class="additional-information">You need at least two Series to Interleave</p>
    </div>
  </div>
</div>

<div
  class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
  [ngClass]="{ disabled: invalidSimulator }"
>
  <div class="card">
    <div class="card-header separator text-truncate">
      <div class="card-icon">
        <i class="fa fa-arrows-h"></i>
      </div>
      <div class="card-title" title="BeagleBone Black">Mirror along Y Axis</div>
    </div>
    <div class="card-block">
      This Duplicates all Values in the Instruction set in Reverse Order<br />
      <label class="c8y-switch">
        <input
          type="checkbox"
          [ngModel]="mirroredAxis"
          [disabled]="invalidSimulator"
          (click)="toggleMirrorYAxis()"
        />
        <span></span>
      </label>
    </div>
  </div>
</div>

<div
  class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
  [ngClass]="{ disabled: invalidSimulator }"
>
  <div class="card">
    <div class="card-header separator text-truncate">
      <div class="card-icon">
        <i class="fa fa-area-chart"></i>
      </div>
      <div class="card-title" title="BeagleBone Black">
        {{ 'Add some salt' | translate }}
      </div>
    </div>
    <div class="card-block">
      <p>
        Set a Percentage by which the Value can vary
      </p>

      <div class="input-group">
        <select class="form-control select-config" [(ngModel)]="randomizeValueType">
          <option>All</option>
          <option>SmartRest</option>
          <option>Measurements</option>
        </select>
        &nbsp;
        <input
          type="text"
          [(ngModel)]="saltValue"
          [disabled]="invalidSimulator"
          placeholder="Percentage %"
        />
        <div class="input-group-addon">%</div>
      </div>

      <button
        (click)="addSomeSalt()"
        [disabled]="invalidSimulator"
        class="btn btn-primary"
      >
        Variate
      </button>
    </div>
  </div>
</div>
