<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <h3>Bulk changes</h3>
  <br />
</div>
<div
  class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
  [ngClass]="{ disabled: invalidSimulator }"
>
  <div class="card">
    <div class="card-header separator text-truncate">
      <div class="card-icon">
        <i class="fa fa-arrows-h"></i>
      </div>
      <div class="card-title" title="BeagleBone Black">
        Intertwine all series
      </div>
    </div>
    <div class="card-block">
      Rather than having all Series after another this picks an instruction from
      each series<br />
      <label class="c8y-switch">
        <input
          type="checkbox"
          [ngModel]="intertwinedValues"
          [disabled]="invalidSimulator"
          (click)="toggleIntertwineSeries()"
        />
        <span></span>
      </label>
    </div>
  </div>
</div>

<div
  class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
  [ngClass]="{ disabled: invalidSimulator }"
>
  <div class="card">
    <div class="card-header separator text-truncate">
      <div class="card-icon">
        <i class="fa fa-arrows-h"></i>
      </div>
      <div class="card-title" title="BeagleBone Black">Mirror along Y Axis</div>
    </div>
    <div class="card-block">
      This duplicates all values in the instruction set in reverse order<br />
      <label class="c8y-switch">
        <input
          type="checkbox"
          [ngModel]="mirroredAxis"
          [disabled]="invalidSimulator"
          (click)="toggleMirrorYAxis()"
        />
        <span></span>
      </label>
    </div>
  </div>
</div>

<div
  class="col-xs-12 col-sm-6 col-md-4 col-lg-3"
  [ngClass]="{ disabled: invalidSimulator }"
>
  <div class="card">
    <div class="card-header separator text-truncate">
      <div class="card-icon">
        <i class="fa fa-area-chart"></i>
      </div>
      <div class="card-title" title="BeagleBone Black">
        {{ 'Add some salt' | translate }}
      </div>
    </div>
    <div class="card-block">
      <p>
        Set a percentage in which ballpark you want to randomize values (only
        works on Measurements)
      </p>

      <div class="input-group">
        <input
          type="text"
          [(ngModel)]="saltValue"
          [disabled]="invalidSimulator"
          placeholder="Percentage %"
        />
        <div class="input-group-addon">%</div>
      </div>

      <button
        (click)="addSomeSalt()"
        [disabled]="invalidSimulator"
        class="btn btn-primary"
      >
        Randomize
      </button>
    </div>
  </div>
</div>
