<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <div class="c8y-select-wrapper">
        <select
          class="form-control"
          [ngModel]="selectedMsmtOption"
          (ngModelChange)="onChangeMsmt($event)"
        >
          <option *ngFor="let first of measurementOptions">
            {{ first }}
          </option>
        </select>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <input name="sleep" class="form-control" placeholder="Sleep (required)" [(ngModel)]="sleep" />
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <input
        id="fragment"
        class="form-control"
        placeholder="Fragment (required)"
        [(ngModel)]="fragment"
      />
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <input
        name="series"
        class="form-control"
        placeholder="Series (required)"
        [(ngModel)]="series"
      />
    </div>
  </div>


  <div>
    <div class="col-sm-6">
      <div class="form-group">
        <input name="unit" class="form-control" placeholder="Unit (required)" [(ngModel)]="unit" />
      </div>
    </div>
  </div>


  <div class="col-sm-6">
    <div class="form-group">
      <input
        name="minimum"
        class="form-control"
        title="Starting value of this series"
        placeholder="Minimum (required)"
        [(ngModel)]="minVal"
      />
    </div>
  </div>

  <div class="col-sm-6">
    <div class="form-group">
      <input
      name="maximum"
        class="form-control"
        title="Ending value of this series"
        placeholder="Maximum (required)"
        [(ngModel)]="maxVal"
        />
      </div>
  </div>
  
  <div class="col-sm-6">
    <div class="form-group">
      <input
      name="steps"
      class="form-control"
      title="Number of values between Minimum and Maximum"
      placeholder="Steps (required)"
      [(ngModel)]="steps"
      />
    </div>
  </div>
      
      

  <div class="col-sm-12">
    <button
      class="btn btn-default"
      style="float: right"
      (click)="addMsmtToArray()"
    >
      <i *ngIf="!isNotFirst" c8yIcon="plus-circle"></i>&nbsp;{{selectedButton}}
    </button>
    <button
      class="btn btn-danger"
      style="float: right;margin-right:5px;"
      (click)="removeMeasurementFromArray()"
    >
      <i c8yIcon="minus-circle"></i>&nbsp;Delete Series
    </button>
  </div>
</div>
