<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="list-group-item" style="display:flex; justify-content: space-between;">
        <span *ngIf="!editMode">{{templateTitle}}</span>
        <input *ngIf="editMode" [(ngModel)]="templateTitle" (keyup.enter)="editTemplateTitle()">&nbsp;&nbsp;
        <i c8yIcon="edit" (click)="editMode=true">
        </i>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
     <app-simulator-card [allSimulators]="allSimulatorsFromTemplate"></app-simulator-card>   
  </div>
</div>
