<div class="row">
  <div class="col-lg-4">
    <div class="card">
      <div class="list-group-item" style="display:flex; justify-content: space-between;">
        <span *ngIf="!editMode">{{templateTitle}}</span>
        <input *ngIf="editMode" [(ngModel)]="templateTitle" (keyup.enter)="editTemplateTitle()">&nbsp;&nbsp;
        <i c8yIcon="edit" (click)="editMode=true">
        </i>
      </div>
    </div>
  </div>

  

  <div class="col-lg-8">
    <ng-container *ngFor="let simulator of allSimulatorsFromTemplate">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card custom-card">
          <div class="card-header separator card-column-40">
            <div class="card-icon">
              <i c8y-icon="c8y-simulator c8y-icon-duocolor" class="c8y-icon c8y-icon-simulator c8y-icon-duocolor"></i>
            </div>
            <div class="card-title" (click)="redirectToSimulator(simulator)">
              <!-- <h4 class="c8y-icon-duocolor c8y-icon-simulator c8y-icon"> -->
              &nbsp;{{ simulator.c8y_DeviceSimulator?.name }}
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
