<div class="row">
  <div class="col-md-6">
    <h3>{{ 'Simulator Statistics' | translate }}</h3>
    <br />

    <div class="card">
      <!-- Card header containing the title, make sure you always add text-truncate -->
      <div class="card-header separator text-truncate">
        <div class="card-icon">
          <i c8y-icon="c8y-group-open" class="c8y-icon c8y-icon-group-open"></i>
        </div>
        <!-- Always add the title attribute -->
        <div class="card-title" title="BeagleBone Black">
          {{ 'General Information' | translate }}
        </div>
      </div>

      <!-- Card content -->
      <!-- you may use the grid classes to structure the content horizontally -->
      <div class="card-block">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>{{ 'Timing' | translate }}</th>
              <th>{{ 'Value' | translate }}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">
                <strong>{{ 'Time for one Cycle' | translate }}:</strong>
              </td>
              <td>{{ timeForOneLoop }}s</td>
            </tr>
            <tr>
              <td scope="row">
                <strong>{{ 'Cycles per Minute' | translate }}:</strong>
              </td>
              <td>{{ runthroughsPerMinute }}</td>
            </tr>
            <tr>
              <td scope="row">
                <strong>{{ 'Cycles per Hour' | translate }}:</strong>
              </td>
              <td>{{ runthroughsPerHour }}</td>
            </tr>
            <tr>
              <td scope="row">
                <strong>{{ 'Cycles per Day' | translate }}:</strong>
              </td>
              <td>{{ runthroughsPerDay }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <h3>{{ 'Measurement Calculations' | translate }}</h3>
    <br />

    <ng-container *ngFor="let entry of measurementCategory">
      <div class="card">
        <!-- Card header containing the title, make sure you always add text-truncate -->
        <div class="card-header separator text-truncate">
          <div class="card-icon">
            <i class="fa fw fa-sliders"></i>
          </div>
          <!-- Always add the title attribute -->
          <div class="card-title" title="BeagleBone Black">
            {{ entry.identifier }}
          </div>
        </div>

        <!-- Card content -->
        <!-- you may use the grid classes to structure the content horizontally -->
        <div class="card-block">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{ 'Sums' | translate }}</th>
                <th>{{ 'Value' | translate }}</th>
                <th>{{ 'Aggregations' | translate }}</th>
                <th>{{ 'Value' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">
                  <strong>{{ 'Sum per Cycle' | translate }}:</strong>
                </td>
                <td>{{ entry.value }} {{ entry.unit }}</td>
                <td scope="row"><strong>Average:</strong></td>
                <td>{{ entry.avg / indexedCommandQueue.length | number: '1.0-2' }} {{ entry.unit }}</td>
              </tr>
              <tr>
                <td scope="row">
                  <strong>{{ 'Sum per Minute' | translate }}:</strong>
                </td>
                <td>{{ entry.runthroughsPerMinute }} {{ entry.unit }}</td>
                <td scope="row"><strong>Lowest:</strong></td>
                <td>{{ entry.lowest }}</td>
              </tr>
              <tr>
                <td scope="row">
                  <strong>{{ 'Sum per Hour' | translate }}:</strong>
                </td>
                <td>{{ entry.runthroughsPerHour }} {{ entry.unit }}</td>
                <td scope="row"><strong>Highest:</strong></td>
                <td>{{ entry.highest }}</td>
              </tr>
              <tr>
                <td scope="row">
                  <strong>{{ 'Sum per Day' | translate }}:</strong>
                </td>
                <td>{{ entry.runthroughsPerDay }} {{ entry.unit }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </ng-container>
  </div>
</div>
